<%- include('includes/header.ejs') %>

    <main>
        <form action="/admin/add-product" method="post" class="product-form">
            <div class="form-control">
                <input type="text" name="title">
            </div>
            <button type="submit">افزودن محصول</button>
        </form>
    </main>
    
</body>
</html>