<%- include('includes/header.ejs') %>

    <main>
        <p>لیست محصولات</p>
        <% if(productKey.length>0){ %>
            <%for(let item of productKey) {%>
                <p><%= item.titles %></p>
            <% } %>
        <% } else{ %>
            <p>محصولی پیدا نشد</p>
        <% } %>
    </main>
    
</body>
</html>